In [1]:
import pandas as pd

In [2]:
filename = 'crime_by_region_original.csv'
crimeDF = pd.read_csv(filename)
crimeDF

              범죄별(1) 범죄별(2)    시점 발생지역별(1)        데이터
0     범죄발생총건수(A) (건)     소계  2014        계  1933835.0
1     범죄발생총건수(A) (건)     소계  2014       서울   389353.0
2     범죄발생총건수(A) (건)     소계  2014       부산   147945.0
3     범죄발생총건수(A) (건)     소계  2014       대구   103469.0
4     범죄발생총건수(A) (건)     소계  2014       인천   103861.0
...              ...    ...   ...      ...        ...
2101        특별법범 (건)     소계  2022       전북    21473.0
2102        특별법범 (건)     소계  2022       전남    28890.0
2103        특별법범 (건)     소계  2022       경북    30607.0
2104        특별법범 (건)     소계  2022       경남    42365.0
2105        특별법범 (건)     소계  2022       제주     8429.0

[2106 rows x 5 columns]

In [3]:
is_portion = crimeDF['범죄별(1)'] == 'A/Bⅹ100,000 (건/10만명)'
crimeDF[is_portion]

                   범죄별(1) 범죄별(2)    시점 발생지역별(1)     데이터
324  A/Bⅹ100,000 (건/10만명)     소계  2014        계  3768.0
325  A/Bⅹ100,000 (건/10만명)     소계  2014       서울  3854.0
326  A/Bⅹ100,000 (건/10만명)     소계  2014       부산  4204.0
327  A/Bⅹ100,000 (건/10만명)     소계  2014       대구  4150.0
328  A/Bⅹ100,000 (건/10만명)     소계  2014       인천  3578.0
..                    ...    ...   ...      ...     ...
481  A/Bⅹ100,000 (건/10만명)     소계  2022       전북  3036.7
482  A/Bⅹ100,000 (건/10만명)     소계  2022       전남  3385.9
483  A/Bⅹ100,000 (건/10만명)     소계  2022       경북  3036.1
484  A/Bⅹ100,000 (건/10만명)     소계  2022       경남  3398.5
485  A/Bⅹ100,000 (건/10만명)     소계  2022       제주  4051.9

[162 rows x 5 columns]

In [4]:
crimeDF['범죄별(2)'].unique()

array(['소계', '재산범죄', '강력범죄(흉악)', '강력범죄(폭력)', '위조범죄', '공무원범죄', '풍속범죄',
       '과실범죄', '기타형법범죄'], dtype=object)

In [5]:
the_year = crimeDF['시점'] == 2014
crimeDF[is_portion & the_year]

                   범죄별(1) 범죄별(2)    시점 발생지역별(1)     데이터
324  A/Bⅹ100,000 (건/10만명)     소계  2014        계  3768.0
325  A/Bⅹ100,000 (건/10만명)     소계  2014       서울  3854.0
326  A/Bⅹ100,000 (건/10만명)     소계  2014       부산  4204.0
327  A/Bⅹ100,000 (건/10만명)     소계  2014       대구  4150.0
328  A/Bⅹ100,000 (건/10만명)     소계  2014       인천  3578.0
329  A/Bⅹ100,000 (건/10만명)     소계  2014       광주  4823.0
330  A/Bⅹ100,000 (건/10만명)     소계  2014       대전  3279.0
331  A/Bⅹ100,000 (건/10만명)     소계  2014       울산  3900.0
332  A/Bⅹ100,000 (건/10만명)     소계  2014       세종  2381.0
333  A/Bⅹ100,000 (건/10만명)     소계  2014       경기  3584.0
334  A/Bⅹ100,000 (건/10만명)     소계  2014       강원  3805.0
335  A/Bⅹ100,000 (건/10만명)     소계  2014       충북  3511.0
336  A/Bⅹ100,000 (건/10만명)     소계  2014       충남  3743.0
337  A/Bⅹ100,000 (건/10만명)     소계  2014       전북  3350.0
338  A/Bⅹ100,000 (건/10만명)     소계  2014       전남  3771.0
339  A/Bⅹ100,000 (건/10만명)     소계  2014       경북  3536.0
340  A/Bⅹ100,000 (건/10만명)     소계  2014       경남  3641.0
341  A/Bⅹ100,000 (건/10만명)     소계  2014       제주  5307.0

In [6]:
crimeDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2106 entries, 0 to 2105
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   범죄별(1)    2106 non-null   object
 1   범죄별(2)    2106 non-null   object
 2   시점        2106 non-null   int64
 3   발생지역별(1)  2106 non-null   object
 4   데이터       2106 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 82.4+ KB

In [7]:
crimeDF.columns = ['범죄별1', '범죄별2', '시점', '발생지역별', '데이터']

In [8]:
crimeDF

                범죄별1 범죄별2    시점 발생지역별        데이터
0     범죄발생총건수(A) (건)   소계  2014     계  1933835.0
1     범죄발생총건수(A) (건)   소계  2014    서울   389353.0
2     범죄발생총건수(A) (건)   소계  2014    부산   147945.0
3     범죄발생총건수(A) (건)   소계  2014    대구   103469.0
4     범죄발생총건수(A) (건)   소계  2014    인천   103861.0
...              ...  ...   ...   ...        ...
2101        특별법범 (건)   소계  2022    전북    21473.0
2102        특별법범 (건)   소계  2022    전남    28890.0
2103        특별법범 (건)   소계  2022    경북    30607.0
2104        특별법범 (건)   소계  2022    경남    42365.0
2105        특별법범 (건)   소계  2022    제주     8429.0

[2106 rows x 5 columns]

In [10]:
# '발생지역별' 컬럼의 '계'를 '전국'으로 일괄 변경
crimeDF = crimeDF.replace({'발생지역별':'계'}, '전국')
crimeDF

                범죄별1 범죄별2    시점 발생지역별        데이터
0     범죄발생총건수(A) (건)   소계  2014    전국  1933835.0
1     범죄발생총건수(A) (건)   소계  2014    서울   389353.0
2     범죄발생총건수(A) (건)   소계  2014    부산   147945.0
3     범죄발생총건수(A) (건)   소계  2014    대구   103469.0
4     범죄발생총건수(A) (건)   소계  2014    인천   103861.0
...              ...  ...   ...   ...        ...
2101        특별법범 (건)   소계  2022    전북    21473.0
2102        특별법범 (건)   소계  2022    전남    28890.0
2103        특별법범 (건)   소계  2022    경북    30607.0
2104        특별법범 (건)   소계  2022    경남    42365.0
2105        특별법범 (건)   소계  2022    제주     8429.0

[2106 rows x 5 columns]

In [11]:
# 전처리가 끝난 데이터프레임을 csv 파일로 저장
crimeDF.to_csv('crime_by_region.csv', index=False)

In [12]:
crimeDF['발생지역별'].unique()

array(['전국', '서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원',
       '충북', '충남', '전북', '전남', '경북', '경남', '제주'], dtype=object)

In [13]:
crimeDF['시점'].unique()

array([2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022], dtype=int64)